body {
    background-color: rgb(70, 106, 129);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
header{
  background: rgba(67, 138, 160, 0.795);
  text-align: center;
}
.brand-logo{
  width: 300px;
  margin-top: 20px;
  margin-left: 450px;
}

.topnav{
  overflow: hidden;
  float: right;
  margin-right: 20px;
}

h1{
  text-align: center;
}

#cart-icon{
  width: 40px;
  float: right;
  margin-right: 20px;
}
#profile-icon{
  width: 40px;
  margin-right: 20px;
  float: right;
}
#contact-icon{
  width: 40px;
  margin-right: 20px;
  margin-top: 4px;
  float: right;
}
.allgames-link{
  color: white;
  text-align: center;
}

.games{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#game-placeholder1{
  width: 500px;
  opacity: 0.8;
}
#game-placeholder2{
  width: 600px;
}
#game-placeholder3{
  width: 500px;
  opacity: 0.8;
}