body{
    background: rgb(30,53,73);
    background: linear-gradient(0deg, rgba(30,53,73,1) 0%, rgba(13,68,69,1) 50%, rgba(30,53,73,1) 100%);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

hr{
    width: 100%;
    
}

.divider{
    width: 100%;
    border-color: black;
}

header, footer{
    background: rgb(30,53,73);
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.5);
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.logo-container{
    display: flex;
    justify-content: center;
}

footer{
    margin-top: 40px;
    bottom: 0;
    position: relative;
}

.logo{
    width: 220px;
    margin-top: 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: 500px 500px 500px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.price-and-shop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: left;
}

.add-btn{
    width: 200px;
    color: white;
    background-color: gray;
    text-transform: uppercase;
}

.price{
    text-transform: uppercase;

}

.title-games{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}



.totalAmount{
    text-align: center;
    margin: 60px;
}

.toptext{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.contact-us{
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.game-product{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.product-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact{
    font-size: 30px;
    text-align: center;
}
form{
    margin-left: 600px;
}

.form-group{
    margin-bottom: 30px;
}

.form-group label{
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}
.form-group input, textarea{
    width: 320px;
    padding: 10px;
    font-size: 20px;
}

textarea{
    width: 700px;
    height: 300px;
    resize: none;
}

.error-hint{
    color:red;
}

.submit-button{
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.hidden{
    display: none;
}

.thank-you{
    font-size: 32px;
    text-align: center;
    background: white;
    color:black;
    padding: 100px;
}

.btn-addtocart{
    margin-top: 10px;
    padding: 14px 28px;
    border-radius: 10px;
    background: rgb(39, 85, 122);
    color: white;
    border-color: white;
    
}

.contactBtn{
    background: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
    border: none;
}

.contactBtn:hover{
    color: gray;
}


h1{
    text-align: center;
    font-size: 60px;
}

a, a:visited, a:active{
    text-decoration: none;
    color: white;

}

a:hover{
    color: gray;
}

nav{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

ul {
    list-style-type: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: baseline;

  }

  li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;

  }
  
  
  li a {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    transform: scale(1);
    transition: all 0.1s ease-in-out 0.05s;
  }
  
  li a:hover {
    transform: scale(1.2)

  }

  a{
    transform: scale(1);
    transition: all 0.1s ease-in-out 0.05s;
  }

  a:hover{
    transform: scale(1.1);
    transition: all 0.1s ease-in-out 0.05s;
  }

  .cart-page{
    text-align: center;
    text-transform: uppercase;
  }

  .checkout{
    margin: 100px;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    background-color: gray;
    color: white;
  }

  .cart-img{
    font-size: 40px;
    margin: 0;
  }

  .shop-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-style: solid;
    border-color: black;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
  }

  .desc{
    margin-left: 25%;
    margin-right: 25%;
  }

  .pre-order{
    text-align: center;
  }

  .product-image{
    box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.5);
  }